@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf)format('truetype');
}

html,
body {
    height: 100%;
}

html {
    display: block;
}

body {
    display: flex;
    max-width: 900px;
    flex-direction: column;
    margin: 0 auto;
    color: black;
    font-family: 'OpenSans', 'Times New Roman', Times;
}

header {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    /* align-content: space-between; */
}

nav {
    margin-left: auto;
}

.about-me {
    display: flex;
    align-items: center;
}

#about-me-photo {
    width: 300px;
    border-radius: 5%;
}

footer {
    margin-top: auto;
    text-align: center;
}

#skills-container {
    display: flex;
    justify-content: space-around;
}

/* nav ul li {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
} */

a {
    margin: 10px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    /* color: var(--font-color); */
}

.image {
    width: 400px;
    height: 400;
    /* display: none; */
    padding-top: 15px;
    padding-bottom: 15px;
    /* none; */
    /* visibility: hidden; */
}


/* a:-webkit-any-link {
    color: black;
    cursor: pointer;
} */

ul li {
    /* color: brown; */
    font-size: large;
}

@media only screen and (max-width: 768px) {
    body {
        font-family: 'Space Mono', monospace, sans-serif;
        font-size: small;
    }

    #about-me-photo,
    .image {
        width: 200px;
        height: auto;
    }
}

.about-me-par {
    text-align: justify;
    padding-right: 20px;
}

.item img {
    height: auto;
    width: 30px;
}

.sub-item {
    display: none;
}

.sub-item a {
    color: dodgerblue;
}
